@import url(general.css);
/*body{
    position: relative;
}

#buttons{
    position: absolute;
    bottom: 2em;
}*/

#buttons{
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
    box-sizing: border-box;
}
#buttons button{
    width: 10em;
    text-align: center;
}