body{
    margin: 0;
    background-color: #090031;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 16pt;
    color: #fff;
    font-family: 'Rockwell', 'Arial';
}

button{
    all: unset;
    background-color: #9b045f;
    cursor: pointer;
    padding: .5em;
    text-align: center;
}

button:hover{
    background-color: #7b004a;
}

button:active{
    background-color: #46002a;
}

header{
    width: 100%;
}

#stats-bar{
    display: flex;
    flex-direction: row;
    background-color: #270ba5;
}

#stats-bar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2em;
    margin: 0;
    padding: 1em;
}

#code{
    padding: .8em;
    position: absolute;
    right: .2em;
    top: .2em;
    border-radius: 30%;
}

dialog{
    width: 50%;
    border: 0;
    background-color: #270ba5;
    color: #fff;
    text-align: center;
    /* padding: 2em; */
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.7); /* степень затемнения */
}


dialog p, dialog h2{
    margin-top: 0;
}

dialog p{
    margin-bottom: 1em !important;
}

dialog button{
    width: fit-content;
    /* margin-top: 1em;
    margin-right: .5em;
    margin-left: .5em; */
    white-space: normal;
}

#inv-close{
    margin: 0;
    background-color: transparent;
    width: fit-content;
    font-family: Arial;
    font-weight: bold;
    font-size: 20pt;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;
}

#inventory-list{
    flex-direction: column !important;
    gap: 1em !important;
    padding-top: 0 !important;
    text-align: left;
    list-style: disc !important;
    padding: 0;
    margin-bottom: 1em !important;
    width: 100%;
    box-sizing: border-box;
}

/* #inventory{
    padding: 1em;
    text-align: center !important;
} */

#inventory-list li{
    width: 100%;
    white-space: normal;
    word-break: break-all;
    overflow-wrap: anywhere;
}

#inventory{
    width: 60%;
}

#inv-attribute{
    justify-self: center;
    align-self: center;
}

#stats-bar ul{
    width: 100%;
    white-space: normal;
}

@media all and (width<700px){
    #stats-bar ul{
        flex-direction: column;
        gap: 0.5em;
    }
}