@import url(general.css);

.img-container {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.img-container img {
    display: block;
    width: 100%;
    height: auto;
}

#inicio {
    position: absolute;
    right: 10%;
    bottom: 27%;

    font-size: 2.5vw;
    padding: 1em 1em;
}