@import url(general.css);

#options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    width: 100%;
    white-space: normal;
}

#options button{
    width: 10em;
}

#level-question{
    margin-top: 0;
}

#selection-centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6em;
    padding: 2em;
    border: 2px solid #fff;
    /* margin-left: 6em;
    margin-right: 6em; */
    width: 70%;
}

#selection-centered h1{
    text-align: center;
    margin-top: 0;
}

#selection-centered p{
    margin-bottom: 2em;
}

@media all and (width<700px){
    #selection-centered{
        margin-top: 1em !important;
    }
}